h1 {
  text-align: center;
  font-size: 4em;
}

h3 {
  text-align: center;
}

body {
  padding-top: 100px;
}

.gradient {
  background: linear-gradient(to bottom, #FFF, #d6f5d6);
  font-family: serif;
  padding-bottom: 30px;
}

.navbar {
  padding-bottom: 15px;
  font-size: 1.5em;
  font-weight: bolder;
}

.glyphicon {
  font-size: 3em;
  display: block;
  text-align: center;
  color:  #666666;
}

.jumbotron {
  box-shadow: 0 15px 15px 0 grey;
}

.row {
  font-family: serif;
  padding-bottom: 15px;
}

footer {
  width: 75%;
  padding: 100px;
  color: grey;
}
